<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>
      Simple blogging app with markdown editor, syntax highlighting and live comments feature built with Action Cable. Site admin can create, edit, delete and publish content.
    </p>
  </div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4>Follow Me</h4>
    <ul class="list-unstyled social-links">
      <li><a href="https://github.com/CechTech" target="_blank"><%= fa_icon "github" %></a></li>
      <li><a href="https://twitter.com/CechTech" target="_blank"><%= fa_icon "twitter" %></a></li>
      <li><a href="https://www.linkedin.com/in/jiri-cech" target="_blank"><%= fa_icon "linkedin" %></a></li>
    </ul>
  </div>
</div>
