<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    <hr />
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "http://placehold.it/300x300", width: 300, alt: "Profile image" %>
      </div>
      <div class="col-md-8">
        <p>LOĎ ČEŘÍ KÝLEM TŮŇ OBZVLÁŠŤ V GRÓNSKÉ ÚŽINĚ.
        PŘÍLIŠ ŽLUŤOUČKÝ KŮŇ ÚPĚL ĎÁBELSKÉ KÓDY.</p>
        <p>Loď čeří kýlem tůň obzvlášť v Grónské úžině.
        Příliš žluťoučký kůň úpěl ďábelské kódy.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Praesent in mauris eu tortor porttitor accumsan. Vivamus ac leo pretium faucibus. Maecenas libero. Integer vulputate sem a nibh rutrum consequat. Mauris metus. Duis condimentum augue id magna semper rutrum. Integer vulputate sem a nibh rutrum consequat. Aliquam erat volutpat. Vivamus ac leo pretium faucibus.</p>
      </div>
    </div>
  </div>
</div>
