<div class="inner cover">
  <h1 class="cover-heading">Ruby on Rails Development</h1>
  <p class="lead">This application is built with Ruby on Rails and Bootstrap. If You want to test It's features contact me and I'll give you the administration access.</p>
  <p>
    <%= link_to "Contact", contact_path, class: "btn btn-lg btn-secondary homepage-btn" %>
  </p>
</div>
