<div class="inner cover">
  <h1 class="cover-heading">Ruby on Rails Development</h1>
  <p class="lead">This application is built with Ruby on Rails and Bootstrap. It features a blogging system with live comments, a portfolio with drag and drop functionality and a Twitter feed page of my account. If You want to test this application register and contact me.</p>
  <p>
    <%= link_to "Contact Me", "http://www.jiricech.com/", class: "btn btn-lg btn-secondary homepage-btn" %>
  </p>
</div>
