@import "bootstrap";

$main_color: #eeeeee;
$secondary_color: #111111;
$link_color: #4099FF;

a,
a:focus,
a:hover {
  color: $main_color;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  background-color: $main_color;
  border: .05rem solid $main_color;
}

html,
body {
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 100%;
}
body {
  color: $main_color;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 10rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 10rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.navbar-brand {
  margin-bottom: 0;
  font-size: 1.7rem;
}

.navbar-nav .nav-link {
  padding: 0;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  font-size: 1.2rem;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.navbar-nav .active {
  color: $main_color;
  border-bottom-color: $main_color;
}

@media (min-width: 48em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav {
    float: right;
  }
}

.cover {
  padding: 2rem 1.5rem;
  background-color: rgba(0,0,0,.6);
  border-radius: 5px;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .navbar {
    position: fixed;
    top: 0;
  }
  .footer {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .navbar,
  .footer,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .navbar,
  .footer,
  .cover-container {
    width: 65rem;
  }
}

.card-block {
  color: black;
  text-align: left;
}

.auth-links a {
  color: black;
}

.register-text {
  text-align: right;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}

.navbar-nav span {
  margin-left: 2rem;
}

.nav-login-helper {
  padding: 0;
  margin-left: 2rem;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.app-footer {
  color: $main_color;
}

.twitter-heading {
  color: #ffffff; 
}

.twitter {
  color: $secondary_color;
  margin: .5rem;

  .card {
    padding: 1.1rem;
  }

  a {
    color: $link_color;
  }
}

.app-card-container {
  color: $secondary_color;
  text-align: left;
  font-size: 1.05rem;

  .card {
    padding: 2.5rem;
  }

  a {
    color: blue;
  }
}

.lead {
  color: $main_color;
  font-size: 1.1rem;
  margin-top: 1.3rem;
}

.homepage-btn {
  margin-top: 1rem;
  width: 8rem;
}

.navbar-toggler {
  color: $main_color;
}

.navbar {
  margin-top: 1.8rem;
  padding: 0;
}

.navbar-toggleable-md .navbar-nav .nav-link {
  padding: 0;
}
