@import "bootstrap";

$main_color: #eeeeee;
$secondary_color: #111111;
$link_color: #4099FF;

a,
a:focus,
a:hover {
  color: $main_color;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  background-color: $main_color;
  border: .05rem solid $main_color;
}

html,
body {
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 100%;
}
body {
  color: $main_color;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 10rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 10rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.navbar-brand {
  margin-bottom: 0;
  font-size: 1.7rem;
}

.navbar-nav .nav-link {
  padding: 0;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  font-size: 1.2rem;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.navbar-nav .active {
  color: $main_color;
  border-bottom-color: $main_color;
}

.site-wrapper-inner {
  vertical-align: middle;
}

.cover {
  position: relative;
  padding: 2rem 1.5rem;
  border-radius: 5px;
  top: 10px;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}

.navbar {
  z-index: 999;
  position: fixed;
  top: 0;
}

.footer {
  position: fixed;
  bottom: 0;
}

.navbar,
.footer,
.cover-container {
  width: 100%; /* Must be percentage or pixels for horizontal alignment */
}

.navbar {
  padding: .3rem;
  background-color: rgba(0,0,0,0.7);
  margin-top: 0;

  .nav-link {
    margin-bottom: .6rem;
  }
}

h1 {
  font-size: 1.8rem;
}

.lead {
  margin-top: 0;
}

.app-footer {
  color: $main_color;
  margin-bottom: 1.1rem;
  font-size: 1rem;
}

.btn-lg {
  font-size: .9rem;
}

.lead {
  color: $main_color;
  font-size: 1rem;
  margin-top: 0;
}

.twitter-container {
  top: 75px;
}

@media (min-width: 62em) {
  .navbar,
  .footer,
  .cover-container {
    width: 65rem;
  }

  .twitter-container {
    top: 0;  
  }

  h1 {
    font-size: 2.5rem;
  }

  .lead {
    margin-top: 1.3rem;
    font-size: 1.1rem;
  }

  .navbar-brand {
    float: left;
  }

  .navbar {
    background-color: rgba(0,0,0,0);
    margin-top: 1.8rem;
    position: fixed;
  }

  .cover {
    background-color: rgba(0,0,0,.6);
    top: 0;
  }

  .app-footer {
    margin-bottom: 3rem;
    font-size: 1.2rem;
  }

  .btn-lg {
    font-size: 1.25rem;
  }
}

.card-block {
  color: black;
  text-align: left;
}

.auth-links a {
  color: black;
}

.register-text {
  text-align: right;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}

.navbar-nav span {
  margin-left: 2rem;
}

.nav-login-helper {
  padding: 0;
  margin-left: 2rem;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.twitter-heading {
  color: #ffffff;
}

.twitter {
  color: $secondary_color;
  margin: .5rem;

  .card {
    padding: 1.1rem;
  }

  a {
    color: $link_color;
  }
}

.app-card-container {
  color: $secondary_color;
  text-align: left;
  font-size: 1.05rem;

  .card {
    padding: 2.5rem;
  }

  a {
    color: blue;
  }
}

.homepage-btn {
  margin-top: 1rem;
}

.navbar-toggler {
  color: $main_color;
  z-index: 1;
}

.navbar-collapse {
  text-align: left;
}

.navbar-toggleable-md .navbar-nav .nav-link {
  padding: 0;
}
